.tabButton
  position: relative
  display: inline-flex
  align-items: center
  font-size: 15.5px
  color: rgb(17, 17, 17)
  outline: none
  border: 0px
  padding: 11px 10px 13px 10px
  background-color: #8a8a8a
  box-shadow: 0 -1px 0 0 rgb(0 0 0 / 5%) inset, 0 0 0 1px rgb(0 0 0 / 13%) inset, 0 3px 5px rgb(0 0 0 / 10%) inset
.tabButtonFirst
  border-right-width: 0px
  border-top-left-radius: 3px
  border-bottom-left-radius: 3px
.tabButtonLast
  border-left-width: 0px
  border-top-right-radius: 3px
  border-bottom-right-radius: 3px
.active
  background: #f7f8fa linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1)) !important
  box-shadow: 0 1px 0 1px rgb(255 255 255 / 30%) inset, 0 0 0 1px #adb2bb inset, 1.5px 0px 3px rgba(34, 36, 38, 0.15)
